@import "../../utils/globals";

.cards-section-wrapper {
  margin: 0 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.cards-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  place-items: center;
  width: 90%;
  max-width: 90rem;
  grid-gap: 5rem;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

.cards-list-wrapper::-webkit-scrollbar {
  display: none;
}

.recipe-card-wrapper {
  display: flex;
  flex-direction: column;
  height: $card-height;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #ddd6cb;
  background: linear-gradient(90deg, #2c1e19, #25200f);
  text-align: left;
}

.recipe-card-image {
  min-height: 240px;
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.recipe-card-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.recipe-title {
  margin-top: 4px;
  font-size: 24px;
  font-weight: bold;
}

.recipe-description {
  font-size: 16px;
  margin-top: 4px;
}

.recipe-time-wrapper {
  margin-top: 12px;
  display: flex;
  align-items: center;

  .recipe-time-icon {
    display: flex;
  }

  .recipe-time {
    margin-left: 4px;
    height: 100%;
  }
}

.recipe-card-footer {
  display: flex;
  align-items: center;
  align-self: flex-end;

  .recipe-favorite-icon {
    .favorite {
      color: #f9572a;
    }

    .favorite:hover {
      color: #ddd6cb;
    }

    .no-favorite {
      color: #ddd6cb;
    }

    .no-favorite:hover {
      color: #f9572a;
    }
  }

  .recipe-favorite-icon:hover {
    color: #f9572a;
  }

  .show-recipe-button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    background: linear-gradient(90deg, #f9572a, #ff9b05);
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
}