@import "../../utils/globals";

.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: $header-height;
  align-items: center;
  width: 100%;
}

.header-logo-img {
  height: 100%;
  padding-left: 12px;
}

.header-content {
  color: white;
  display: flex;
  align-items: center;
}

.home-tab, .categories-tab, .add-recipe-button {
  cursor: pointer;
}

.home-tab {

}

.category-tab-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories-tab {

}

.category-options {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
  min-width: 200px;
  z-index: 1;

  .category-option {
    background-color: white;
    border: none;
    margin-right: auto;
    width: 100%;
    justify-content: left;
    color: black;
  }

  .category-option:hover {
    background-color: #e6e8ef;
    font-weight: bold;
  }
}


.search-bar-wrapper {
  margin: 0 12px;

  .search-bar-input {
    height: 36px;
    background-color: white;
    border-radius: 16px;
    width: 440px;
    border: 0;
    display: flex;
    justify-content: center;

    .search-icon {
      margin-right: -6px;
      cursor: pointer;
    }

    fieldset {
      border: 0;
    }
  }
}

.add-recipe-button {

}
