// Colors
$deep-carrot: #d74012;
$fog-color: #58595B;
$fog-light-color: #C6C7C9;
$light-green: #bef3d6ff;
$light-purple: #bdc0f3ff;
$light-red: #f3bebeff;
$light-cyan: #b9f2fdff;
$light-pink: #efb9fdff;
$light-yellow: #ffe599ff;
$light-gray: #f5f5f5f2; // Recipe background color

// Font Family
$montserrat: 'Montserrat', sans-serif;

// Constants
$header-height: 200px;
$card-width: 320px;
$card-height: 400px;